nav{
	background-color: #12273b;
}
a:visited {
    text-decoration: none;
    color: #FFF;
}

a:active{
	text-decoration: none;
	color: #FFF;
}
section{
	text-align:center;
	margin-bottom: 35px;
}

.navlink{
	color: #FFF;
	font-family: "Open Sans Condensed";
	font-size: 20px;
	line-height: 2;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 1px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  position: relative;
}
#tophover a:hover {
    text-decoration: none;
    color: #FFF;
}
#tophover a:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#tophover a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#bottomhover a:hover{
  color: #66e0ff;
  text-decoration: none;
}

#copy{
	text-align: center;
	font-size: 14px;
}

footer{
  background-color: #12273b;
  color: #FFF;
	text-align: center;
}
